__pycache__
KaraOne_EEGSpeech_HEO_noLPF.npy
KaraOne_EEGSpeech_X_noLPF.npy
KaraOne_EEGSpeech_y_noLPF.npy
Xtest.npy
Xtest_pca.npy
Xtrain.npy
Xtrain_pca.npy
main_pcaComp_opt_v2.py
main_pca_art3.py
model_02-Sep-2021_19-42-59/
xftest.npy
xftest_pca.npy
xftrain.npy
xftrain_pca.npy
xtest_1000.npy
xtest_pcaComp.npy
xtrain_1000.npy
xtrain_pcaComp.npy
yftest.npy
yftest_pca.npy
yftrain.npy
yftrain_pca.npy
ytest.npy
ytest_1000.npy
ytest_pca.npy
ytrain.npy
ytrain_1000.npy
ytrain_pca.npy